@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar-heatmap .color-scale-0 {
  fill: #f6ffca;
}
.react-calendar-heatmap .color-scale-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #1e6823;
}

.react-calendar-heatmap .today-border {
  stroke-width: 0.5px;
  stroke: rgb(156 163 175);
}

.react-calendar-heatmap .color-empty1 {
  fill: hsl(var(--accent));
}

@layer base {
  :root {
    --background: 220, 16%, 96%;
    --foreground: 222, 20%, 16%;

    --muted: 215, 14%, 80%;
    --muted-foreground: 222, 20%, 16%;

    --popover: 220, 16%, 96%;
    --popover-foreground: 222, 20%, 16%;

    --border: 222, 20%, 70%;
    --input: 222, 20%, 70%;

    --card: 220, 16%, 96%;
    --card-foreground: 222, 20%, 16%;

    --primary: 222, 20%, 70%;
    --primary-foreground: 220, 16%, 96%;

    --secondary: 215, 14%, 80%;
    --secondary-foreground: 222, 20%, 16%;

    --accent: 215, 14%, 80%;
    --accent-foreground: 222, 20%, 16%;

    --destructive: 0, 80%, 50%;
    --destructive-foreground: 222, 20%, 16%;

    --ring: 222, 20%, 70%;

    --radius: 0.5rem;

    --beam: 191.03, 100%, 30%;
  }

  .dark {
    --background: 220, 16%, 16%;
    --foreground: 222, 20%, 96%;

    --muted: 215, 14%, 25%;
    --muted-foreground: 222, 20%, 96%;

    --popover: 220, 16%, 16%;
    --popover-foreground: 222, 20%, 96%;

    --border: 213.33, 11.69%, 30.2%;
    --input: 213.33, 11.69%, 30.2%;

    --card: 220, 16%, 16%;
    --card-foreground: 222, 20%, 96%;

    --primary: 222, 20%, 65%;
    --primary-foreground: 220, 16%, 16%;

    --secondary: 215, 14%, 25%;
    --secondary-foreground: 222, 20%, 96%;

    --accent: 215, 14%, 25%;
    --accent-foreground: 222, 20%, 96%;

    --destructive: 0, 80%, 50%;
    --destructive-foreground: 222, 20%, 96%;

    --ring: 222, 20%, 40%;

    --radius: 0.5rem;

    --beam: 191.03, 100%, 82.94%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
